*,
::after {
  box-sizing: border-box;
}

:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);

  --verified-graduate-opacity: 50%;
  --review-quotation-opacity: 70%;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  background-color: var(--Light-grayish-blue);
  min-height: 100vh;
}

.testimonial-grid {
  max-width: 85%;
  margin: 4em auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
}

.testimonial {
  box-shadow: 0 10px 20px var(--Very-dark-blackish-blue);
  border-radius: 15px;
  padding: 1em 2em;
}

.student {
  display: flex;
}

.testimonial-heading {
  font-size: 1.5em;
  font-weight: 600;
}

.testimonial-detail {
  line-height: 1.5;
}

.testimonial-1,
.testimonial-4 {
  grid-column: span 2;
}

.testimonial-5 {
  grid-column: 4;
  grid-row: 1 / span 2;
}
